<div *ngIf="currentUrl !== '/insert'" class="tasksList">
  <ul>
    <li *ngFor="let task of tasks | async">
      <mat-list class="task-item">
        <mat-list-item>
          <div class="task-content">
            <div class="task-text">
              <span class="task-title">{{ task.title }}</span>
              <span class="task-description">{{ task.description }}</span>
            </div>
            <div class="task-icons">
              <app-update [updateCompleted]="task.completed" [updateId]="task.id"></app-update>
              <app-delete [deleteId]="task.id"></app-delete>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </li>
  </ul>
</div>
